.home-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
    float: left !important;
    margin-right: 50px;
    position: relative;
}

.img-div .landing-img {
    width: 100%;
    height: 100%;
    background: none;
    margin-left: 15%;
}

.outside-bottom-bar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    border-radius: 25px;
}

.toast-class {
    background-color: #3363ff;
    font-family: 'Philosopher', sans-serif;
}

.copy-to-clipboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    width: 30px;
    font-size: 2rem;
}

.angled-gradient-button {
    background-size: 220%;
    box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
    color: #fcfcfc;
    background-color: transparent;
    background-position: 100%;
    border: 3px solid #3363ff;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all .2s ease-out;
    /* font-weight: 900; */
    cursor: pointer;
    letter-spacing: 2px;
    background-image: linear-gradient(110deg, #3363ff 0%, #3363ff 50%, transparent 50%, transparent 100%);
    /* font-size: 14px; */
    font-family: 'Philosopher', sans-serif;
}

.angled-gradient-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
    background-position: 0;
    color: #fff;
}

.angled-gradient-button:active {
    transform: translateY(-1px);
}

.board {
    width: 100%;
    height: 100%;
}

.sketch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 50px;
    /* background: linear-gradient(45deg, #03A9F4, #4CAF50); */
}

.color-picker-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.outer-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.board-container {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 25px;
}